.progressbar-heading{
    height: 36px;
    color: #FFFFFF;
    font-size: 24px;
}

.progress-container {
    width: 100%;
    background-color: #EDECEC;
    border-radius: 6px;
    height: 12px;
}

.progress-bar {
    height: 12px;
    background-color: #FD6F00;
    transition: width 0.4s ease;
    width: 100%;
    border-radius: 6px;
    position: relative;
}

.progress-bar::after {
    content:"";
    width:18px;
    height:18px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid #FD6F00;
    position: absolute;
    right:0;
    top:-4px;
    z-index: 1;
}