input[type=submit] {
    background-color: #FD6F00;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  input[type=text] {
    background-color: white;
    /* color: white; */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right:20px;
    width: 300px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }