.project-card-container {
  width: 445px;
  height: 600px;
}

.project-img1 {
  width: 274px;
  height: 489px;
}
.project-img2 {
}
.project-detail-container {
}
.project-title {
}
.project-description {
}
.project-image-container {
}